### Imports

In [39]:
import pandas as pd
import numpy as np

### Load data

In [5]:
data = pd.read_csv("../../../../Project Files/data/class_01/bikes.csv")
data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

### Create outcome variable
Based on this outcome variable we choose R-squared as evaluaiton metric. For now we are only interested in overall model fit.

In [ ]:
data["casual_prop"] = data["casual"] / data["cnt"]

### Train-val-test split

In [34]:
# the number of rows corresponding to 15%
n_15 = int(0.15 * len(data))

# isolate test set
data_test = data.iloc[-n_15:,:]

# isolate train and val
data_train_val = data.iloc[:-n_15,:]

# isolate val
data_val = data_train_val.iloc[-n_15:,:]

# isolate train from train and val
data_train = data_train_val.iloc[:-n_15,:]

# save data
data_train.to_csv('data/train.csv', index=False)
data_val.to_csv('data/val.csv', index=False)
data_test.to_csv('data/test.csv', index=False)

del data, data_train_val

### X y split

In [44]:
drop = ['dteday', 'casual', 'registered', 'cnt', 'casual_prop']
X_train = data_train.drop(drop, axis=1).to_numpy()
y_train = data_train["casual_prop"].to_numpy()
X_val = data_val.drop(drop, axis=1).to_numpy
y_val = data_val["casual_prop"].to_numpy()
X_test = data_test.drop(drop, axis=1).to_numpy()
y_test = data_test["casual_prop"].to_numpy()